.container {
    display: flex;
    flex-direction: row;
    position: relative;

}
.BigWhiteBox {
    display: flex; 
    flex-direction: row !important; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: flex-start; 
    min-height: 10cm;
    border: 1px solid black; 
    padding: 10px; 
    margin: 12px; 
    background-color: white; 
    overflow: hidden; 
    margin-right: 0.5cm;
    margin-top: 1%;
    border-radius: 10px;
    margin-bottom: 0.5cm; 
    box-shadow: 1px 1px;
}
.WhiteBox {
    background-color: white;
    padding: 10px; 

}
.SameHeight{
    height: 50%;
}